// white
$color-white: #fff;

// grey
$color-light-grey: #f5f5f5;
$color-grey: #eee;
$color-dark-grey: #666;
$color-grey-border: #ccc;

// black
$color-almost-black: #080808;

// purple
$color-purple: #6f43d6;
